<% content_for :sidebar do %>
  <% render SidebarComponent.new(controller: controller) %>
<% end %>

<h1 class="col-span-12 font-semibold text-lg">Profile</h1>

<div class="col-span-12 md:col-span-6 md:order-2 card card-compact bg-base-200 shadow">
  <div class="card-body">
    <% if @profile.present? %>
      <div class="flex gap-4 items-start">
        <% if @profile.avatar&.attached? %>
          <%= image_tag current_user.profile.avatar, class: 'rounded-full h-24 w-24' %>
        <% else %>
          <%= render Icons::UserCircleComponent.new(classes: 'w-24 h-24 fill-current') %>
        <% end %>
        <div class="flex flex-col gap-2 justify-start">
          <h3 class="font-semibold text-lg mb-4"><%= @profile.first_name %> <%= @profile.last_name %></h3>
          <p class="flex items-center gap-2">
            <%= render Icons::LetterComponent.new(classes: 'h-6 h-6 fill-current') %>
            <%= current_user.email_address %>
          </p>
          <% if @profile.phone.present? %>
            <p class="flex items-center gap-2">
              <%= render Icons::PhoneRoundedComponent.new(classes: 'h-6 h-6 fill-current') %>
              <%= @profile.phone %>
            </p>
          <% end %>
          <% if @profile.country.present? %>
            <p class="flex items-center gap-2">
              <%= render Icons::EarthComponent.new(classes: 'h-6 h-6 fill-current') %>
              <%= @profile.country.upcase %>
            </p>
          <% end %>
          <%= link_to 'Edit profile', edit_profile_path, class: 'text-xs text-secondary mt-4' %>
        </div>
      </div>
    <% else %>
      <div class="flex flex-col items-center p-4 gap-4 justify-center">
        <p class="text-sm">You have not yet created a profile.</p>
        <%= link_to 'Create Profile', new_profile_path, class: 'btn btn-accent btn-sm' %>
      </div>
    <% end %>
  </div>
</div>
