<div class="mx-auto w-full sm:w-96 mt-24 p-2 flex flex-col gap-8">
  <%= form_with url: passwords_path, class:'card shadow-md' do |form| %>
    <div class="card-body">
      <div class="card-title">
        Forgot your password?
      </div>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: 'input input-bordered' %>
      <div class="card-actions justify-end">
        <%= form.submit "Email reset instructions", class: 'btn btn-sm btn-accent' %>
      </div>
    </div>
  <% end %>

  <div class="card shadow-md p-8 gap-4">
    <p>
      Or <%= link_to "sign In", new_session_path, class: 'text-accent font-medium underline decoration-accent decoration-1' %> instead.
    </p>

    <% if registrations_enabled? %>
      <p>
        Don't have an account?
        <%= link_to "Sign up", new_registration_path, class: 'text-accent font-medium underline decoration-accent decoration-1' %> here!
      </p>
    <% end %>
  </div>
</div>
