<div class="card card-compact bg-base-200 shadow" id="<%= dom_id address %>">
  <div class="card-body">
    <% if address.default? %>
      <div class="badge badge-accent badge-sm">
        Default
      </div>
    <% end %>
    <p>
      <%= address.address_line_1 %>
      <% if address.address_line_2.present? %>
      , <%= address.address_line_2%>
      <% end %>
    </p>

    <% if address.postal_code.present? %>
      <p>
        Postal Code: <%= address.postal_code %>
      </p>
    <% end %>

    <p>
      <%= address.city %>
      <% if address.state.present? %>
        , <%= address.state %>
      <% end %>
    </p>

    <p class="flex items-center gap-2" data-controller="country" data-country-country-code-value="<%= address.country.downcase %>">
      <span class="loading loading-dots loading-xs" data-country-target="loadingCountries"></span>
      <span data-country-target="countryContainer" class="hidden" ></span>
    </p>

    <div class="flex items-center justify-end gap-2">
      <% if controller.action_name == 'index' %>
        <%= link_to 'View details', address_path(address), class: 'btn btn-secondary btn-xs btn-outline' %>
      <% elsif controller.action_name == 'show' %>
        <%= link_to 'Edit address', edit_address_path(address), class: 'btn btn-secondary btn-xs btn-outline' %>
        <%= button_to "Make default", make_default_address_path(@address), data: { turbo_confirm: "Are you sure?"}, method: :patch, class: 'btn btn-xs btn-neutral btn-outline' %>
        <%= button_to address, method: :delete, data: { 'turbo-confirm': 'Are you sure?' }, class: 'cursor-pointer h-6' do %>
          <%= render Icons::TrashBinMinimalisticComponent.new(classes: 'h-6 w-6 fill-error') %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
