<% content_for :sidebar do %>
  <% render SidebarComponent.new(controller: controller) %>
<% end %>

<div class="col-span-12 md:col-span-6 gap-4 flex flex-col">
  <%= render @organization %>
</div>

<div class="col-span-12 row-span-2 md:col-span-6 gap-4 flex flex-col">
  <%= turbo_frame_tag [@organization.id, :memberships], src: organization_memberships_path(@organization), loading: 'eager' do %>
    <span class="loading loading-dots loading-sm"></span>
  <% end %>
</div>

<div class="col-span-12 md:col-span-6 gap-4 flex flex-col">
  <h2 class="font-semibold">Organization Invites</h1>
  <%= turbo_frame_tag "organization_#{@organization.id}_invites", src: organization_invites_path(@organization) do %>
    <span class="loading loading-dots loading-sm"></span>
  <% end %>
</div>

<div class="col-span-12">
  <%= link_to organizations_path, class: 'text-current text-sm flex items-center gap-2' do %>
    <%= render Icons::RoundAltArrowLeftComponent.new(classes: 'h-6 w-6 fill-current') %>
    Back to organizations
  <% end %>
</div>

