<!DOCTYPE html>
<html data-theme="light">
  <%= render 'layouts/head' %>

  <body data-controller="application">
    <%= render 'layouts/notifications' %>

    <%= render 'layouts/navbar' %>
    
    <% if content_for? :sidebar %>
      <div class="drawer lg:drawer-open">
        <input id="main-drawer" type="checkbox" class="drawer-toggle" data-application-target="mainDrawerToggle" />
        <div class="drawer-content">
          <label class="swap swap-rotate fixed bottom-3 left-3 z-40 lg:hidden" data-action="click->application#toggleSidebar:prevent">
            <input type="checkbox" data-application-target="togglerSwap" />
            <%= render Icons::HamburgerMenuComponent.new(classes: 'h-10 sm:h-12 sm:w-12 w-10 sm:h-12 sm:w-12 fill-current swap-off') %>
            <%= render Icons::CloseCircleComponent.new(classes: 'h-10 sm:h-12 sm:w-12 w-10 sm:h-12 sm:w-12 fill-current swap-on') %>
          </label>
          <div class="pt-4 px-2 sm:px-4 h-screen bg-base-200">
            <div class="rounded-t-xl pt-4 px-4 bg-base-300 h-full">
              <%= yield %>
            </div>
          </div>
        </div>
        <div class="drawer-side">
          <label aria-label="close sidebar" class="drawer-overlay" data-action="click->application#toggleSidebar:prevent" ></label>
          <%= yield :sidebar %>
        </div>
      </div>
    <% else %>
      <div class="pt-4 px-2 sm:px-4 h-screen bg-base-200">
          <%= yield %>
      </div>
    <% end %>
  </body>
</html>
